

.header {
    background-color: blue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .social-links a {
    margin: 0 10px;
  }
  
  .social-links img {
    width: 30px;
    height: 30px;
  }
  
  .nav-links {
    color: white;
  }
  
  .nav-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  